---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Experiences from "../components/Experiences.astro";
import Container from "../components/Container.astro";
import Skils from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout
	title="Gabriel's Portfolio - Web Developer"
	description="My portfolio where I can show my talent as web developer"
>
	<Container id="about" class="mt-20">
		<About />
	</Container>
	<Container id="experiences" class="pt-52">
		<h2 class="text-3xl font-semibold pl-10 md:pl-0 pb-11">Work Experiences</h2>
		<Experiences />
	</Container>
	<Container
		id="skills"
		class="pt-80 flex flex-col justify-center items-center"
	>
		<Skils />
	</Container>
	<Container id="proyects" class="pt-64">
		<h2 class="text-3xl font-semibold pl-10 md:pl-0 pb-11">Projects</h2>
		<Projects />
	</Container>
	<Container id="contact" class="pt-64">
		<h2 class="text-3xl font-semibold pl-10 md:pl-0 pb-11">Contact</h2>
		<Contact />
	</Container>

	<style></style>
</Layout>
