---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import About from "../components/About.astro";
---

<Layout
	title="Gabriel's Portfolio - Web Developer"
	description="My portfolio where I can show my talent as web developer"
>
	<About />
	<main></main>
</Layout>

<style></style>
