---
import CurvedArrow from "./icons/CurvedArrow.astro";
---

<section class="flex justify-center items-center mt-20 px-5 md:px-0">
  <CurvedArrow class="size-32 hidden md:block" />
  <h2 class="text-2xl md:text-3xl pb-12 text-pretty">
    Hello! My name is <strong class="text-[#A362FF]">Gabriel Moreno</strong>
  </h2>
</section>

<div class="flex flex-col items-center justify-center px-5 md:px-0 md:flex-row">
  <img
    class="rounded-full size-56 md:mr-16"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg"
    alt="profile photo"
  />
  <div>
    <h2
      class="text-4xl text-pretty opacity-80 pt-12 md:pt-0 md:max-w-[600px] md:text-5xl"
    >
      I'm Full Stack Developer.
    </h2>
    <p class="text-xl pt-5 text-wrap opacity-80 max-w-[500px]">
      Currently, I'm a Financial Data Associate Business Execution at <strong
        class="text-[#1877F2]">BBVA</strong
      >.
    </p>
    <p class="text-xl pt-10 text-wrap opacity-80 max-w-[500px]">
      Crafting responsive websites where technology meets creativity is what I
      do best.
    </p>
  </div>
</div>

<style>
  img {
    background: #fff;
    box-shadow:
      0px 0px 40px 1px #ffffffbe,
      0px 0px 90px 20px #763cac;
  }
</style>
