---
import CurvedArrow from "./icons/CurvedArrow.astro";
---

<section class="flex justify-center items-center mt-20">
  <CurvedArrow class="size-32 pt-10 -m-5" />
  <h2 class="text-2xl">
    Hello! My name is <strong class="text-[#A362FF]">Gabriel Moreno</strong>
  </h2>
</section>

<section class="flex justify-center items-center mt-2 relative">
  <img
    class="rounded-full size-28 mt-5 mr-5 z-10"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg"
    alt="profile photo"
  />
  <img
    class="rounded-full size-28 mt-5 mr-5 bg-white blur-2xl shadow-2xl absolute left-[400px]"
    src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg"
    alt="profile photo"
  />
  <h2 class="text-5xl text-wrap opacity-80 max-w-[600px]">
    I'm Full Stack Developer.
  </h2>
  <!-- <p class="text-xl text-wrap opacity-80 max-w-[500px]">
    I'm a software engineer with a passion for web development. I'm currently
    working at <strong class="text-[#A362FF]">BBVA</strong> as a full-stack developer.
    I'm always looking for new challenges and opportunities to learn new things.
  </p> -->
</section>
