---
import ExperienceItem from "./ExperienceItem.astro";

const EXPIRENCE = [
  {
    title: "Financial Data Asociate I",
    work_name: "BBVA",
    description:
      "FullStack Developer con experiencia en bases de datos, migración CLI, API REST y gestión de herramientas bancarias y transversales para más de 8,000 usuarios únicos.",
    date: "Now",
    img: "public/taza.png",
  },
  {
    title: "Financial Data Associate Business Execution",
    work_name: "BBVA",
    description:
      "Desarrollo módulos en el sitio interno (IGBC) de Google Cloud para múltiples bancas, utilizando Vue.js, Flask y MySQL. También proporciono soluciones web para problemas de administración transversales en bancas.",
    date: "Now",
    img: "public/label.png",
  },
  {
    title: "Trainee",
    work_name: "BBVA",
    description:
      "Me convertí en full-stack y administrador de una app en Google Cloud con Vue.js, Flask y MySQL. Creé scripts .sh para automatizar carga/descarga de datos en Oracle y MySQL, y aplicaciones web en Google Apps para temas internos.",
    date: "Now",
    img: "public/bulb.png",
  },
  {
    title: "Becario",
    work_name: "BBVA",
    description:
      "Como becario, apoyé en la creación de una aplicación web, trabajando en el back-end con Python (Flask, SqlAlchemy, Alembic). También contribuí al mantenimiento de aplicaciones web en Google Apps utilizadas por más de 2,900 usuarios únicos.",
    date: "Now",
    img: "public/Icons.png",
  },
];
---

<section class="flex flex-row">
  <div class="relative grid grid-cols-2 gap-6 dark:border-gray-700">
    {EXPIRENCE.map((experience) => <ExperienceItem {...experience} />)}
  </div>
</section>
