---
import { getProjects } from "../data/projects";
import ProjectItem from "./ProjectItem.astro";

const PROJECTS = getProjects(Astro.currentLocale);
---

<section>
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</section>
