---
import SkillsBackground from "./SkillsBackground.astro";
import SkillsIcons from "./SkillsIcons.astro";
---

<section class="relative">
  <SkillsBackground />
  <SkillsIcons class="-mt-32 pl-3" />
  <p class="-mt-40 text-xl text-center">Building your site with this</p>
</section>
