---
import IconContainer from "./IconContainer.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JsIcon from "./icons/JavaScript.astro";
import VueIcon from "./icons/Vue.astro";
import CssIcon from "./icons/Css.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import MysqlIcon from "./icons/Mysql.astro";
import PythonIcon from "./icons/Python.astro";
import FigmaIcon from "./icons/Figma.astro";
import ReactIcon from "./icons/React.astro";
---

<article {...Astro.props}>
  <div
    class="grid grid-cols-5 gap-4 mb-5 items-center justify-center place-items-center"
  >
    <IconContainer>
      <AstroIcon class="size-6" />
    </IconContainer>
    <IconContainer>
      <JsIcon class="size-6" />
    </IconContainer>
    <IconContainer>
      <VueIcon class="size-6" />
    </IconContainer>
    <IconContainer>
      <CssIcon class="size-6" />
    </IconContainer>
    <IconContainer>
      <TailwindIcon class="size-6" />
    </IconContainer>
  </div>
  <div class="grid grid-cols-4 items-center justify-center place-items-center">
    <IconContainer>
      <MysqlIcon class="size-6" />
    </IconContainer>
    <IconContainer>
      <PythonIcon class="size-6" />
    </IconContainer>

    <IconContainer>
      <FigmaIcon class="size-6" />
    </IconContainer>

    <IconContainer>
      <ReactIcon class="size-6" />
    </IconContainer>
  </div>
</article>
