<div class="relative group">
  <div
    id="ligth"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 h-[330px] w-full md:h-[330px] md:w-[542px] blur-3xl rounded-[50%]"
  >
  </div>
  <div
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 -z-20 border border-[#633896] hidden md:block md:w-[495px] xl:w-[695px] md:h-[269px] rounded-[50%]"
  >
  </div>
  <div
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 -z-20 border border-[#633896] hidden md:block md:w-[564px] xl:w-[764px] md:h-[269px] rounded-[50%]"
  >
  </div>
  <div
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 -z-20 border border-[#633896] hidden md:block md:w-[681px] xl:w-[881px] md:h-[269px] rounded-[50%]"
  >
  </div>
  <div class="box md:h-40 md:w-[300px] left-1 -top-36"></div>
  <div class="box md:h-[275px] md:w-[306px] -bottom-14"></div>
</div>

<style>
  #ligth {
    background: #763cac;
    background: radial-gradient(circle, #763cace7 0%, #320f8575 100%);
  }

  .box {
    z-index: -10;
    position: absolute;
    translate:
      -50%,
      -50%;
    border-radius: 50%; /*1*/
    border: 1px solid transparent; /*2*/
    background: linear-gradient(180deg, #763cac00, #763cac) border-box; /*3*/
    -webkit-mask: /*4*/
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
  }
</style>
